@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

:root{
    --font:  'Rasa', serif;
    --mainColor: #414141;
    --secondaryColor: #c9c9c9;
    --maxWidth: 87.5rem;
    --space: 1.25rem;
    --colorButton: #eeeeee;
}

img{
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
}

img:hover{
    filter: grayscale(0%);
}

*{
    box-sizing: border-box;
}

.container{
    max-width: var(--maxWidth);
    margin: 0 auto;
}

body{
    font-family: var(--font);
    font-weight: 300;
    color: var(--mainColor);
    font-size: 1em;
}


/*inicio header*/

header{
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav .menu{
    padding: calc( var(--space) * 2) 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75em;
    padding: 0rem 1.25rem;
}

header nav.container>a{
    display: inline-block;
    text-decoration: none;
    color: var(--mainColor);
    width: 50%;
}

header nav.container #btnMenu{
    width: 50%;
    text-align: right;
}

header nav.container .menu{
    width: 100%;
}

header nav.container .menu li{
    text-align:  center;
}

header nav.container .menu a{
    display: inline-block;
    padding: 0.625rem 0rem;
    text-decoration: none;
    color: var(--mainColor);
}

header nav.container .menu .active{
    font-weight: 500;
}

/*fin header*/

/* inicio de footer */

footer .container{
    padding: 0rem 1.25rem;
    color: var(--secondaryColor);
}

/* final del footer */

/* inicio hero */

.hero{
    background-image: url(../images/fondo.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;

}

.hero h1{
    text-align: center;
    font-size: 3em;
    line-height: 1.4em ;
}
/* final hero */


/* inicio projects */

/* estilos genericos de la seccion los hago atacando a section */
main section {
    padding: calc(var(--space)*4) 1.25rem;  
}

main #projects .grid{
    display: grid;
    gap: var(--space);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr;
}

main #projects .grid article{
    filter: grayscale(100%);
    transition: 1s;
    &:hover{
        filter: grayscale(0%);
    }
}

main #projects .grid article:first-child{
    background-image: url('../images/vase-wooden.jpg');
    background-size: cover;
    background-position: center center;
    height: 45vh;
    overflow: hidden;
}

main #projects .grid article:last-child{
    background-image: url('../images/coo-coo-clock.png');
    background-size: cover;
     background-position: center center;
     overflow: hidden; /* mascara de recorte */
}

main #projects .grid article:nth-child(2){
    background-image: url('../images/bottle-gradient-2.jpg');
    background-size: cover;
     background-position: center center;
     overflow: hidden; /* mascara de recorte */
}

main #projects .grid article{
    position: relative;
}

main #projects .grid article h3{
    position: absolute;
    bottom: 1.25rem;
    left: 0.60rem;
    font-size: 2rem;
    font-weight: 500;
    transition: 1s;
    opacity: 0;
}

main #projects .grid article:hover h3{
    left: 1.25rem;
    opacity: 1;
}

main section h2{
    font-size: 3em;
    padding-bottom: 2.5rem;
    text-align: center;
}

main .more a{
    color: var(--secondaryColor);
    display: inline-block;
    padding: 0.20rem 0rem;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: calc(var(--space)*3);
    border-bottom: 1px solid var(--secondaryColor);
}


/* fin projects */

/* inicio our expertise */

main #ourexpertise .flex{
    display: flex;
    flex-direction: column;
    gap: var(--space);
}
main #ourexpertise article{
    text-align: center;
}
main #ourexpertise article figure{
    max-width: 100px;
    margin: 0 auto;
}

main #ourexpertise article h3{
    font-size: 2rem;
    padding: var(--space) 0;
}

main #ourexpertise article p{
    color: var(--secondaryColor);
    font-size: 1.25em;
}
/* fin our expertise */

/* inicio de price */

main #price .flex{
    display: flex;
    flex-direction: column;
    gap: calc(var(--space)*2);
}

main #price .flex article{
    text-align: center;
}

main #price .flex article h3{
    font-size: 2em;
}

main #price .flex article .price{
    font-size: 3em;
    margin: var(--space) 0;
}

main #price .flex article hr{
    border: 0.5px solid var(--secondaryColor);
    margin-bottom: var(--space);
}

main #price .flex article li{
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
    & span{
        color: var(--secondaryColor);
    }
}

.buy {
    background-color: var(--colorButton);
    display: inline-block;
    padding: var(--space);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--mainColor);
    transition: 0.5s;
    &:hover{
        background-color: var(--secondaryColor);
    }
}


/* final de price */

/* inicio de news */

main #news .flex{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
}

main #news .flex article a{
    display: block;
    text-decoration: none;
    color: var(--mainColor);
}

main #news .flex article a p{
    color: var(--secondaryColor)
}

main #news .flex article a h3{
    font-size: 2rem;
}



/* final de news */






/* mediaqueries */

@media(min-width: 48rem){
    header nav.container #btnMenu{
        display: none;
    }  

    header nav.container .menu{
        width: 80%;
      
        order: 1;
    }   

    header nav.container>a{
        width: 20%;
        order: 2; /* order es un regla de flex */
        text-align: right;
    }
    
    header nav.container .menu li{
        text-align:  left;
        display: inline-block;
    }   

    header nav .menu{
        padding: 0;
    }

    header nav.container .menu a{
        padding: 0rem calc(var(--space)*1.25) 0 0;
    }

    .hero h1{
        max-width: 43.75rem;
    }

    main #projects .grid{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    main #projects .grid  article:last-child{
        grid-column: 2;
        grid-row: 1/3;
    }

    main #ourexpertise .flex{
        flex-direction: row;
    }
    main #ourexpertise article{
        text-align: left;
    }

    main #ourexpertise article figure{
        max-width: 100px;
        margin: 0;
    }

    main #price .flex{
        flex-direction: row;
    }

    main #price .flex article{
        width: 100%;
        text-align: left;
    }

    main section h2{
        text-align: left;
    }

    main #news article{
        width: calc( 50% - var(--space) );
    }

    main #news article figure {
        max-height: 200px;
        overflow: hidden;
    }

}

@media(min-width: 1000px){
    main #news article figure {
        max-height: 280px;
        overflow: hidden;
    }
}

@media(min-width: 87.5rem){
     header .container{
        padding: 0;
    }

    footer .container{
        padding: 0;
    }

     main #news article figure {
        max-height: 400px;
        overflow: hidden;
    }
}